.root {
  margin-bottom: 30px;
  overflow: hidden;
  transition: border 0.1s ease-in-out;

  span {
    color: rgb(133, 133, 133);
    font-size: 12px;
  }
  .tag:hover span {
    color: #344cd6;
  }
  &:hover {
    border: 1px solid hsl(var(--secondary-foreground));
    .edit {
      opacity: 1;
      visibility: visible;
      svg {
        stroke: hsl(var(--secondary-foreground));
      }
    }
  }
}
p.name {
  font-weight: 600;
}
.edit {
  z-index: 10;
  background-color: hsl(var(--secondary));
  button {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  & {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  & > {
    svg {
      opacity: 0.4;
      stroke: hsl(var(--secondary-foreground));
    }
  }
}
.markdown {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;

    margin-bottom: 24px;
    text-align: justify;
  }
}
.banner {
  width: 100%;
  overflow: hidden;
  max-height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &.full {
    display: flex;
    max-height: unset;
    img {
      width: unset;
    }
  }
  img {
    width: 100%;
  }
}
