.root {
  margin-bottom: 30px;
  overflow: hidden;
  transition: border 0.1s ease-in-out;

  span {
    color: rgb(133, 133, 133);
    font-size: 12px;
  }
  &:hover {
    border: 1px solid hsl(var(--secondary-foreground));
    .edit {
      opacity: 0.9;
      visibility: visible;
    }
  }
}
p.name {
  font-weight: 600;
}
.edit {
  // background-color: rgba(255, 255, 255, 0.603);
  svg {
    stroke: hsl(var(--secondary-foreground));
  }
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.markdown {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 20px;

    margin-bottom: 10px;
    text-align: justify;
  }
}
.banner {
  width: 100%;
  overflow: hidden;
  max-height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &.full {
    display: block;
    max-height: unset;
  }
  img {
    width: 100%;
  }
}
